<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="7eb77350-0192-46cd-a196-9dcbd8eb9744" Publisher="CN=yunsima" Version="0.1.1.0" />
  <Properties>
    <DisplayName>PP</DisplayName>
    <PublisherDisplayName>yunsima</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PP.App">
      <VisualElements DisplayName="PP" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="PP" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets/SplashScreen.png" BackgroundColor="blanchedAlmond" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="enterpriseAuthentication" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>